@font-face {
    font-family: 'TTFirsNeue';
    src: local("TTFirsNeue"),
     url('~assets/font/TTFirsNeue-Regular.ttf') format("truetype");
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    // font-family: "TTFirsNeue";
}
body {
    max-width: 390px;
    margin: 0 auto;
    color: $color-defText;
}
@mixin fullHeight {
    height: 100vh;
}
@mixin card {
    border-radius: 30px;
    background-color: $color-def;
    padding: 25px 20px;
}
.main-def {
    background: $color-dark;
    // height: calc(100vh - 70.8px);
    height:100vh ;
}
.main-withRouter {
    padding: 10px 20px 20px 20px;
        display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: $color-dark;
    // height: calc(100vh - 70.8px);
    height:100vh ;
}
hr {
    height: 1px;
    width: 100%;
    border: 1px solid #EFF0F6;
}

html {
    font-family: "TTFirsNeue";
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-15 {
    margin-bottom: 15px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-25 {
    margin-bottom: 25px;
}
.mb-50 {
    margin-bottom: 50px;
}
.txt-black-bold {
    color : $txt-dark;
    font-weight: 700;
}
.line { 
    text-decoration:underline;
}
.curPr {
    cursor: pointer;
}

.page-enter-active, .page-leave-active {
    transition: all 0.5s;
}
.page-enter, .page-leave-active {
    opacity: 0;
    transform: scale(0);
}
 